<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<bean id="tamil" class="com.tnsif.spring_DI.Student">
			<property name="" value="" />
			<property name="" value="" />
			<property name="" value="" />
		</bean>
		
		<bean id="tamil" class="com.tnsif.spring_DI.Student"
			p:id="101"/>
		
</beans>